{%extends "basefirst.html"  %}

{%block content%}
<h1>Hello, {{ user.username }}!</h1>
        <p>
            {%for messages in messages%}
            <div><p>
              <b>  {{messages.sender}} </b>says :: {{messages.message}}
            </p></div>

            {% endfor %}


        </p>
{% endblock %}
{% block content %}
    <h1>Hi, {{ current_user.username }}!</h1>
    {% for post in posts %}
    <div><p>{{ post.author.username }} says: <b>{{ post.body }}</b></p></div>
    {% endfor %}
{% endblock %}
